<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/product.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/details.css">
        <title>shop</title>
    </head>
    <body>
        <%- include('include/header.ejs')  %>
        <div class="container-details">
            <div class="images">
            <img src="<%= product.img %> " />
            </div>
            <div class="slideshow-buttons">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            </div>
            <p class="pick">choose size</p>
            <div class="sizes">
            <div class="size">5</div>
            <div class="size">6</div>
            <div class="size">7</div>
            <div class="size">8</div>
            <div class="size">9</div>
            <div class="size">10</div>
            <div class="size">11</div>
            <div class="size">12</div>
            </div>
            <div class="product">
            <p>Running Shoe</p>
            <h1><%= product.name %> </h1>
            <h2><%= product.price %>$ </h2>
            <p class="desc">The Nike Epic React Flyknit foam cushioning is responsive yet light-weight, durable yet soft. This creates a sensation that not only enhances the feeling of moving forward, but makes running feel fun, too.</p>
            <form action="/cart/add/<%= product._id %>" method="POST">
                <div class="buttons">
                    <button class="add">Add to Cart</button>
                    <button class="like"><span>♥</span></button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </div>
            </form>
            </div>
        </div>
        
        <footer>
            <p>made by <a href="https://codepen.io/juliepark"> julie</a> ♡
        </footer>
        <script> $(".size").on('click', function(){
            $(this).toggleClass('focus').siblings().removeClass('focus');
         })</script>
    </body>
</html>